.gradle/6.3/gc.properties
.gradle/6.3/executionHistory/executionHistory.bin
.gradle/6.3/executionHistory/executionHistory.lock
.gradle/6.3/fileChanges/last-build.bin
.gradle/6.3/fileHashes/fileHashes.bin
.gradle/6.3/fileHashes/fileHashes.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/checksums/checksums.lock
.gradle/vcs-1/gc.properties
.idea/.name
.idea/compiler.xml
.idea/encodings.xml
.idea/gradle.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/modules.xml
.idea/runConfigurations.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/artifacts/SharedCode_android.xml
.idea/caches/build_file_checksums.ser
.idea/codeStyles/codeStyleConfig.xml
.idea/codeStyles/Project.xml
.idea/libraries/Gradle__androidx_activity_activity_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_activity_activity_ktx_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_annotation_annotation_1_1_0_jar.xml
.idea/libraries/Gradle__androidx_annotation_annotation_experimental_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_appcompat_appcompat_1_2_0_aar.xml
.idea/libraries/Gradle__androidx_appcompat_appcompat_resources_1_2_0_aar.xml
.idea/libraries/Gradle__androidx_arch_core_core_common_2_1_0_jar.xml
.idea/libraries/Gradle__androidx_arch_core_core_runtime_2_1_0_aar.xml
.idea/libraries/Gradle__androidx_cardview_cardview_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_collection_collection_1_1_0_jar.xml
.idea/libraries/Gradle__androidx_collection_collection_ktx_1_1_0_jar.xml
.idea/libraries/Gradle__androidx_constraintlayout_constraintlayout_1_1_3_aar.xml
.idea/libraries/Gradle__androidx_constraintlayout_constraintlayout_solver_1_1_3_jar.xml
.idea/libraries/Gradle__androidx_coordinatorlayout_coordinatorlayout_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_core_core_1_3_1_aar.xml
.idea/libraries/Gradle__androidx_core_core_ktx_1_3_1_aar.xml
.idea/libraries/Gradle__androidx_cursoradapter_cursoradapter_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_customview_customview_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_drawerlayout_drawerlayout_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_fragment_fragment_1_2_4_aar.xml
.idea/libraries/Gradle__androidx_fragment_fragment_ktx_1_2_4_aar.xml
.idea/libraries/Gradle__androidx_interpolator_interpolator_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_common_2_2_0_jar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_extensions_2_2_0_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_2_2_0_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_core_2_2_0_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_core_ktx_2_2_0_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_process_2_2_0_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_runtime_2_2_0_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_runtime_ktx_2_2_0_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_service_2_2_0_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_viewmodel_2_2_0_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_viewmodel_ktx_2_2_0_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_viewmodel_savedstate_2_2_0_aar.xml
.idea/libraries/Gradle__androidx_loader_loader_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_navigation_navigation_common_2_3_0_aar.xml
.idea/libraries/Gradle__androidx_navigation_navigation_common_ktx_2_3_0_aar.xml
.idea/libraries/Gradle__androidx_navigation_navigation_fragment_2_3_0_aar.xml
.idea/libraries/Gradle__androidx_navigation_navigation_fragment_ktx_2_3_0_aar.xml
.idea/libraries/Gradle__androidx_navigation_navigation_runtime_2_3_0_aar.xml
.idea/libraries/Gradle__androidx_navigation_navigation_runtime_ktx_2_3_0_aar.xml
.idea/libraries/Gradle__androidx_navigation_navigation_ui_2_3_0_aar.xml
.idea/libraries/Gradle__androidx_navigation_navigation_ui_ktx_2_3_0_aar.xml
.idea/libraries/Gradle__androidx_recyclerview_recyclerview_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_recyclerview_recyclerview_selection_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_savedstate_savedstate_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_test_core_1_2_0_aar.xml
.idea/libraries/Gradle__androidx_test_espresso_espresso_core_3_2_0_aar.xml
.idea/libraries/Gradle__androidx_test_espresso_espresso_idling_resource_3_2_0_aar.xml
.idea/libraries/Gradle__androidx_test_ext_junit_1_1_1_aar.xml
.idea/libraries/Gradle__androidx_test_monitor_1_2_0_aar.xml
.idea/libraries/Gradle__androidx_test_runner_1_2_0_aar.xml
.idea/libraries/Gradle__androidx_transition_transition_1_3_0_aar.xml
.idea/libraries/Gradle__androidx_vectordrawable_vectordrawable_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_vectordrawable_vectordrawable_animated_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_versionedparcelable_versionedparcelable_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_viewpager2_viewpager2_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_viewpager_viewpager_1_0_0_aar.xml
.idea/libraries/Gradle__com_google_android_material_material_1_2_0_aar.xml
.idea/libraries/Gradle__com_google_code_findbugs_jsr305_2_0_1_jar.xml
.idea/libraries/Gradle__com_squareup_javawriter_2_1_1_jar.xml
.idea/libraries/Gradle__com_squareup_okhttp3_logging_interceptor_3_14_1.xml
.idea/libraries/Gradle__com_squareup_okhttp3_okhttp_3_14_2.xml
.idea/libraries/Gradle__com_squareup_okio_okio_1_17_2.xml
.idea/libraries/Gradle__de_hdodenhof_circleimageview_3_1_0_aar.xml
.idea/libraries/Gradle__io_ktor_ktor_client_android_1_3_2.xml
.idea/libraries/Gradle__io_ktor_ktor_client_core_1_3_2.xml
.idea/libraries/Gradle__io_ktor_ktor_client_core_iosx64_klib_1_3_2.xml
.idea/libraries/Gradle__io_ktor_ktor_client_core_jvm_1_3_2.xml
.idea/libraries/Gradle__io_ktor_ktor_client_ios_iosx64_klib_1_3_2.xml
.idea/libraries/Gradle__io_ktor_ktor_client_ios_metadata_1_3_2.xml
.idea/libraries/Gradle__io_ktor_ktor_client_json_1_3_2.xml
.idea/libraries/Gradle__io_ktor_ktor_client_json_iosx64_klib_1_3_2.xml
.idea/libraries/Gradle__io_ktor_ktor_client_json_jvm_1_3_2.xml
.idea/libraries/Gradle__io_ktor_ktor_client_okhttp_1_3_2.xml
.idea/libraries/Gradle__io_ktor_ktor_client_serialization_1_3_2.xml
.idea/libraries/Gradle__io_ktor_ktor_client_serialization_iosx64_klib_1_3_2.xml
.idea/libraries/Gradle__io_ktor_ktor_client_serialization_jvm_1_3_2.xml
.idea/libraries/Gradle__io_ktor_ktor_http_1_3_2.xml
.idea/libraries/Gradle__io_ktor_ktor_http_cio_1_3_2.xml
.idea/libraries/Gradle__io_ktor_ktor_http_cio_iosx64_klib_1_3_2.xml
.idea/libraries/Gradle__io_ktor_ktor_http_cio_jvm_1_3_2.xml
.idea/libraries/Gradle__io_ktor_ktor_http_iosx64_klib_1_3_2.xml
.idea/libraries/Gradle__io_ktor_ktor_http_jvm_1_3_2.xml
.idea/libraries/Gradle__io_ktor_ktor_io_1_3_2.xml
.idea/libraries/Gradle__io_ktor_ktor_io_iosx64_klib_1_3_2.xml
.idea/libraries/Gradle__io_ktor_ktor_io_iosx64_klib_cinterop_bits_1_3_2.xml
.idea/libraries/Gradle__io_ktor_ktor_io_iosx64_klib_cinterop_sockets_1_3_2.xml
.idea/libraries/Gradle__io_ktor_ktor_io_jvm_1_3_2.xml
.idea/libraries/Gradle__io_ktor_ktor_network_1_3_2.xml
.idea/libraries/Gradle__io_ktor_ktor_utils_1_3_2.xml
.idea/libraries/Gradle__io_ktor_ktor_utils_iosx64_klib_1_3_2.xml
.idea/libraries/Gradle__io_ktor_ktor_utils_iosx64_klib_cinterop_utils_1_3_2.xml
.idea/libraries/Gradle__io_ktor_ktor_utils_jvm_1_3_2.xml
.idea/libraries/Gradle__javax_inject_javax_inject_1_jar.xml
.idea/libraries/Gradle__junit_junit_4_12_jar.xml
.idea/libraries/Gradle__junit_junit_4_13_jar.xml
.idea/libraries/Gradle__net_sf_kxml_kxml2_2_3_0_jar.xml
.idea/libraries/Gradle__org_hamcrest_hamcrest_core_1_3_jar.xml
.idea/libraries/Gradle__org_hamcrest_hamcrest_integration_1_3_jar.xml
.idea/libraries/Gradle__org_hamcrest_hamcrest_library_1_3_jar.xml
.idea/libraries/Gradle__org_jetbrains_annotations_13_0.xml
.idea/libraries/Gradle__org_jetbrains_annotations_13_0_jar.xml
.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_android_extensions_runtime_1_3_72_jar.xml
.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_1_3_72.xml
.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_1_3_72_jar.xml
.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_common_1_3_72.xml
.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_common_1_3_72_jar.xml
.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_jdk7_1_3_70.xml
.idea/libraries/Gradle__org_jetbrains_kotlinx_atomicfu_0_14_2.xml
.idea/libraries/Gradle__org_jetbrains_kotlinx_atomicfu_iosx64_klib_0_14_2.xml
.idea/libraries/Gradle__org_jetbrains_kotlinx_atomicfu_iosx64_klib_cinterop_interop_0_14_2.xml
.idea/libraries/Gradle__org_jetbrains_kotlinx_kotlinx_coroutines_android_1_3_2.xml
.idea/libraries/Gradle__org_jetbrains_kotlinx_kotlinx_coroutines_android_1_3_2_jar.xml
.idea/libraries/Gradle__org_jetbrains_kotlinx_kotlinx_coroutines_core_1_3_4.xml
.idea/libraries/Gradle__org_jetbrains_kotlinx_kotlinx_coroutines_core_1_3_4_jar.xml
.idea/libraries/Gradle__org_jetbrains_kotlinx_kotlinx_coroutines_core_common_1_3_4.xml
.idea/libraries/Gradle__org_jetbrains_kotlinx_kotlinx_coroutines_core_iosx64_klib_1_3_4.xml
.idea/libraries/Gradle__org_jetbrains_kotlinx_kotlinx_serialization_runtime_0_20_0.xml
.idea/libraries/Gradle__org_jetbrains_kotlinx_kotlinx_serialization_runtime_common_0_20_0.xml
.idea/libraries/Gradle__org_jetbrains_kotlinx_kotlinx_serialization_runtime_iosx64_klib_0_20_0.xml
.idea/libraries/Gradle__org_slf4j_slf4j_api_1_7_30.xml
.idea/libraries/Kotlin_Native_1_3_72___Accelerate__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___Accounts__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___AddressBook__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___AddressBookUI__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___AdSupport__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___ARKit__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___AssetsLibrary__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___AudioToolbox__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___AuthenticationServices__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___AVFoundation__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___AVKit__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___BackgroundTasks__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___builtin__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___BusinessChat__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___CallKit__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___CarPlay__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___CFNetwork__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___ClassKit__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___CloudKit__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___CommonCrypto__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___Contacts__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___ContactsUI__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___CoreAudio__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___CoreAudioKit__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___CoreAudioTypes__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___CoreBluetooth__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___CoreData__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___CoreFoundation__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___CoreGraphics__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___CoreHaptics__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___CoreImage__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___CoreLocation__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___CoreMedia__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___CoreMIDI__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___CoreML__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___CoreMotion__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___CoreNFC__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___CoreServices__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___CoreSpotlight__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___CoreTelephony__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___CoreText__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___CoreVideo__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___CryptoTokenKit__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___darwin__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___DeviceCheck__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___EAGL__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___EventKit__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___EventKitUI__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___ExternalAccessory__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___FileProvider__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___FileProviderUI__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___Foundation__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___GameController__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___GameKit__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___GameplayKit__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___GLKit__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___GSS__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___HealthKit__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___HealthKitUI__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___HomeKit__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___iAd__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___iconv__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___IdentityLookup__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___IdentityLookupUI__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___ImageCaptureCore__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___ImageIO__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___Intents__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___IntentsUI__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___IOSurface__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___JavaScriptCore__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___LinkPresentation__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___LocalAuthentication__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___MapKit__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___MediaAccessibility__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___MediaPlayer__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___MediaToolbox__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___Messages__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___MessageUI__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___Metal__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___MetalKit__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___MetalPerformanceShaders__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___MetricKit__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___MobileCoreServices__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___ModelIO__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___MultipeerConnectivity__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___NaturalLanguage__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___Network__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___NetworkExtension__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___NewsstandKit__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___NotificationCenter__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___objc__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___OpenAL__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___OpenGLES2__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___OpenGLES3__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___OpenGLES__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___OpenGLESCommon__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___PassKit__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___PDFKit__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___PencilKit__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___Photos__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___PhotosUI__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___posix__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___PushKit__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___QuartzCore__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___QuickLook__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___QuickLookThumbnailing__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___ReplayKit__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___SafariServices__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___SceneKit__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___Security__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___Social__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___SoundAnalysis__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___Speech__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___SpriteKit__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___stdlib.xml
.idea/libraries/Kotlin_Native_1_3_72___StoreKit__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___SystemConfiguration__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___Twitter__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___UIKit__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___UserNotifications__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___UserNotificationsUI__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___VideoSubscriberAccount__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___VideoToolbox__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___Vision__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___VisionKit__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___WatchConnectivity__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___WebKit__ios_x64_.xml
.idea/libraries/Kotlin_Native_1_3_72___zlib__ios_x64_.xml
.idea/modules/Huddlup.iml
.idea/modules/app/app.iml
.idea/modules/SharedCode/SharedCode.iml
.idea/modules/SharedCode/SharedCode_androidMain.iml
.idea/modules/SharedCode/SharedCode_androidTest.iml
.idea/modules/SharedCode/SharedCode_commonMain.iml
.idea/modules/SharedCode/SharedCode_commonTest.iml
.idea/modules/SharedCode/SharedCode_iosMain.iml
.idea/modules/SharedCode/SharedCode_iosTest.iml
